<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Command
  </a>
</p>
<div class="collapse" id="collapseExample">
<div class="form-group">
 <form method="post" action="/issue/respond">
    <label class="form-control-label" for="formGroupExampleInput">Command Here</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input" name="respond">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>