<%- include('../partials/header',{})%>

<form class="" action="/login" method="post">
  username:
  <input type="text" name="username" value="">
  password:
  <input type="password" name="password" value="">
  <input type="submit" name="" value="submit">
</form>

<%- include('../partials/footer',{})%>
